In [3]:
# Load Gene sequence

with open('./Chris_code/clb2.txt', 'r') as file:

    Gene = file.read().replace('\n', '')
# Clean away numbers and spaces
Gene=Gene.replace(' ', '') # spaces
from string import digits
remove_digits=str.maketrans('', '', digits)
Gene=Gene.translate(remove_digits)   # numbers
Gene

'ATGTCCAACCCAATAGAAAACACAGAAAACTCACAGAATACTAGTTCATCAAGGTTTTTGAGGAATGTACAAAGGTTGGCCTTAAACAATGTAACAAATACGACATTTCAAAAGAGTAATGCGAATAATCCAGCCCTAACAAATTTCAAATCTACACTAAACTCAGTAAAGAAGGAGGGAAGTCGGATTCCTCAATTTACTAGAGAAAGCGTATCAAGATCAACAGCCGCACAAGAGGAGAAAAGAACCCTGAAAGAAAATGGTATCCAACTCCCCAAAAACAATCTTTTAGATGATAAAGAAAACCAAGACCCAAGTAGTCAGCAATTTGGTGCGCTAACTTCTATAAAGGAGGGGAGAGCTGAGCTGCCTGCAAATATAAGTTTACAAGAATCCTCCTCAGCGAAGGAGATAATCCAGCATGATCCCCTAAAAGGCGTTGGATCAAGCACTGAGGTAGTCCATAACTCGGTAGAAAACGAAAAACTTCATCCAGCTAGAAGTCAACTTCAAGTTAGAAATACCGAAAGTGAAACTGATAGTGGAAAAAAAAGACCAATTTCTACAATTGTTGAACAAGAACTGCCCAAAAAGTTTAAAGTGTGCGATGAAAATGGCAAAGAAGAATATGAATGGGAAGACCTAGATGCAGAAGATGTAAATGATCCATTCATGGTCAGCGAGTACGTCAATGATATATTCGAATATCTCCACCAACTAGAGGTCATTACTCTTCCAAAGAAGGAAGATCTCTATCAGCATAGAAATATTCATCAAAATCGAGATATCCTAGTTAATTGGTTGGTTAAAATCCATAATAAATTCGGCTTATTACCGGAGACTTTGTATCTTGCCATTAACATAATGGACAGGTTTTTAGGTAAAGAGCTAGTTCAACTGGATAAGTTACAATTGGTTGGCACATCATGCCTTTTCATTGCCTCTAAATATGAAGAGGTCTATTCTCCTAGTATAAAACATTTCGCATCAGAGACAGACGGTGCATGTACGGAAGATGAAATCAAAGAAGGGGAGAAATTCATTTTAAAGACATTGAAATTTAACCTAAATTATCCCAATCCGATGAATTTTCTGAGAAGAATTTCGAAAGCAGATGACTACGATATACAGTCTCGAACTCTTGCCAAATTCTTATTAGAGATATCATTGGTAGATTTCAGATTTATTGGGATACTACCCTCATTGTGTGCAGCAGCTGCGATGTTTATGTCGAGAAAAATGTTAGGTAAAGGTAAATGGGATGGAAATCTAATACACTATAGCGGCGGGTATACTAAAGAAGAACTTGCGCCCGTGTGTCACATGATAATGGATTATCTAGTGAGTCCAATTGTTCATGATGAATTTCATAGAAAATATCAATCTAGAAGATTTATGAAAGCTTCTATAATTTCCGTCCAATGGGCTTTAAAGGTTAGAAAAAACGGCTATGATATAATGACCTTGCATGAATGA'

In [6]:
# Import Gene -+1000 base pairs - clean in the same way
with open('./Chris_code/clb2_pm_1000.txt', 'r') as file:
    Gene_plus = file.read().replace('\n', '')

# Clean away numbers and spaces
Gene_plus=Gene_plus.replace(' ', '') # spaces
from string import digits
remove_digits=str.maketrans('', '', digits)
Gene_plus=Gene_plus.translate(remove_digits)   # numbers
Left_of_Gene=Gene_plus[0:1000] # 1000 bp's to the left of the Gene
Right_of_Gene=Gene_plus[int(len(Gene)):int(len(Gene))+1000] # 1000 bp's to the right of the Gene (includes 3' UTR segment)
Left_of_Gene

'ACCCTGTTCTTGACCGTCTACTAAGGTGCCTTAGGGGGACTCAAACTTAAGATCGCCTTCTACGCGTTTTATGCTATGATCATTAGTGTTGATGCATCGGAAGTTTAAAAATTAAGTGCGAGTGCATTAGCACAGTGGAATTATTAGAATGACCACTACTCCTTCTAATCAAACACGCGGAAATAGCCGCCAAAAGACAGATTTTATTCCAAATGCGGGTAACTATTTGTATAATATGTTTACATATTGAGCCCGTTTAGGAAAGTGCAAGTTCAAGGCACTAATCAAAAAAGGAGATTTGTAAATATAGCGACCGAATCAGGAAAAGGTCAACAACGAAGTTCGCGATATGGATGAACTTCGGTGCCTGTCCCTCGAGGAAATAGCAAACTCGTTACAGCTAGCATCTCATAGCATGGGCATAGAGTTTCAGAAATTTTGCTCTTAATGGAAAATATAACCTCTTTGGGGAAAAGAGAAATAGATCCTTTCTCAAAAATTTAGAAAGGAAAAAAAATCAAAATATAATAAAATAGATTTTTTTTAGGTTAATTTTTTGCCAATTTAGCTAGACTTTTGAAAAGATCCAAAAATTTACTAAAATTGAATCTTTCTGGTATTAATTTTGTCCTATACCTCAAGAAGTAAAGTATTCTCGAATTGATACTTCTGAAAAGCGAAAGAAATATAGCTAAAGGATACTGGTTATTTATTCTTTCTTTTTTTCTTTCTTTTTGATTGAGCCAGTGTATAATAAAAACCTACTGCGAGCTATTCAATAAATTGACATAGAATATCTGTTGAAGCGGTTCTTTGATTGAGCATCTGTTTTCCTTTTGTATTTTTGTCCTTTTAGATTCTTTTAACGACATTGGAGAAATTTTAATCATTGTATAAAAACTTCATTCGCTCGTTTGTCAGAAGTTTTTTTATAACTTGCTATTTCCTTCCAAGAAGCCTTTTATTGATTACCCCCTCTCTCTCTTCATTGATCTTATAG'

In [7]:
Right_of_Gene

'AAACGAAAAACTTCATCCAGCTAGAAGTCAACTTCAAGTTAGAAATACCGAAAGTGAAACTGATAGTGGAAAAAAAAGACCAATTTCTACAATTGTTGAACAAGAACTGCCCAAAAAGTTTAAAGTGTGCGATGAAAATGGCAAAGAAGAATATGAATGGGAAGACCTAGATGCAGAAGATGTAAATGATCCATTCATGGTCAGCGAGTACGTCAATGATATATTCGAATATCTCCACCAACTAGAGGTCATTACTCTTCCAAAGAAGGAAGATCTCTATCAGCATAGAAATATTCATCAAAATCGAGATATCCTAGTTAATTGGTTGGTTAAAATCCATAATAAATTCGGCTTATTACCGGAGACTTTGTATCTTGCCATTAACATAATGGACAGGTTTTTAGGTAAAGAGCTAGTTCAACTGGATAAGTTACAATTGGTTGGCACATCATGCCTTTTCATTGCCTCTAAATATGAAGAGGTCTATTCTCCTAGTATAAAACATTTCGCATCAGAGACAGACGGTGCATGTACGGAAGATGAAATCAAAGAAGGGGAGAAATTCATTTTAAAGACATTGAAATTTAACCTAAATTATCCCAATCCGATGAATTTTCTGAGAAGAATTTCGAAAGCAGATGACTACGATATACAGTCTCGAACTCTTGCCAAATTCTTATTAGAGATATCATTGGTAGATTTCAGATTTATTGGGATACTACCCTCATTGTGTGCAGCAGCTGCGATGTTTATGTCGAGAAAAATGTTAGGTAAAGGTAAATGGGATGGAAATCTAATACACTATAGCGGCGGGTATACTAAAGAAGAACTTGCGCCCGTGTGTCACATGATAATGGATTATCTAGTGAGTCCAATTGTTCATGATGAATTTCATAGAAAATATCAATCTAGAAGATTTATGAAAGCTTCTATAATTTCCGTCCAATGGGCTTTAAAGGTTAGAAAAAACGGCTATGATATAATGACCTTGCATGAATGA'

In [9]:
# Importing Enzyme restriction-site Database

with open('./Chris_code/raw_enzyme_list.txt') as file:
    lines=file.readlines()
    database=[line.rstrip() for line in lines]  
# convert to pandas dataframe

import pandas as pd
import numpy as np
database=pd.DataFrame(database)  
# Sort through restriction site database to discard restriction sites with either non 'A', 'C', 'G', 'T' letters and/or are less than 6 base pairs
# split database into enzyme names and restriction sites
enzyme_names=database[::2]
db = database.iloc[1: , :]
restriction_sites=db[::2]
restrict_vect=[]

for i in range(len(restriction_sites)):
    if len(restriction_sites.iloc[i,0])<6 or len(restriction_sites.iloc[i,0])>8 or len(restriction_sites.iloc[i,0])==7:
        restrict_vect.append(i)

ind=list(set(restrict_vect))

# Now delete these indexed cut sites from just the restriction cut sites table
restriction_sites=pd.DataFrame(restriction_sites)
Viables=restriction_sites.drop(restriction_sites.index[[ind]])
fake_viables=[]



for i in range(len(Viables)):
    string_to_test = Viables.iloc[i,0]
    chars_to_check = ["R", "Y", "N", "W", "K", "M", "V", "H"]
    for char in chars_to_check:
        if char in string_to_test:
            fake_viables.append(i)


Cleaned_Enzymes=Viables.drop(Viables.index[[fake_viables]]) # List of all viable cut-site sequences
Cleaned_Enzymes=list(Cleaned_Enzymes.iloc[:,0])
Cleaned_Enzymes=set(Cleaned_Enzymes)
Cleaned_Enzymes=pd.DataFrame(Cleaned_Enzymes)
Cleaned_Enzymes

           0
0   GTTTAAAC
1     GGTACC
2     AACGTT
3     GCCGAG
4   GCGATCGC
..       ...
83    CTGAAG
84  TTAATTAA
85    AGTACT
86    GTTAAC
87    TCATGA

[88 rows x 1 columns]

In [13]:
# We are now eliminating non-palindromic Enzymes - as the unique ones are unique on top and bottom strand in the plasmid
Palindromic_clean_enzymes=[]

for i in range(len(Cleaned_Enzymes)):
    # Creating reverse compliment of Enzyme cut
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'}
    reverse_complement = "".join(complement.get(base, base) for base in reversed(Cleaned_Enzymes.iloc[i,0]))

    if Cleaned_Enzymes.iloc[i,0]==reverse_complement:
        Palindromic_clean_enzymes.append(Cleaned_Enzymes.iloc[i,0])

       
# TODO
# For each Palindromic clean enzyme, we now must go from 100 bps from the end of the Gene: CUT || DISTANCE FROM END (count in bp's) - then re-order so its in ascending order or close-ness to 100 bp's end
Cuts_in_Gene=[]
distance_of_cut_from_end_of_gene=[]

for i in range(len(Palindromic_clean_enzymes)):
    for j in range(len(Gene)):
        count=len(Gene)-j # counting down the base pairs from the end of the gene len(gene) to 0.
        if Palindromic_clean_enzymes[i]==Gene[j:j+len(Palindromic_clean_enzymes[i])] and count>=100:
            Cuts_in_Gene.append(Palindromic_clean_enzymes[i])
            distance_of_cut_from_end_of_gene.append(count)

In [14]:
Cuts_in_Gene=pd.DataFrame(Cuts_in_Gene)
distance_of_cut_from_end_of_gene=pd.DataFrame(distance_of_cut_from_end_of_gene)
Table_of_cuts_in_Gene=pd.concat([Cuts_in_Gene, distance_of_cut_from_end_of_gene], axis=1)
Table_of_cuts_in_Gene.columns=['Cuts in Gene', 'Distance from the end of the Gene']   
Sorted_Table_of_cuts_in_Gene=Table_of_cuts_in_Gene.sort_values(by=['Distance from the end of the Gene'])
Sorted_Gene_cuts=list(Sorted_Table_of_cuts_in_Gene.iloc[:,0].values.tolist())
Sorted_Gene_cut_distances=list(Sorted_Table_of_cuts_in_Gene.iloc[:,1].values.tolist())

In [17]:
Sorted_Table_of_cuts_in_Gene

   Cuts in Gene  Distance from the end of the Gene
15       TCATGA                                121
3        CAATTG                                128
4        GTATAC                                187
8        CAGCTG                                263
10       GATATC                                316
12       TTCGAA                                373
7        TTTAAA                                433
2        CAATTG                                567
9        GATATC                                693
5        AATATT                                711
13       AGATCT                                730
11       TTCGAA                                777
6        TTTAAA                                882
1        CAATTG                                911
0        TGTACA                               1411
14       ACTAGT                               1437